<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Services">
            <directory>./ShiftpiCountryFlagsTest/Service</directory>
        </testsuite>
        <testsuite name="Mappers">
            <directory>./ShiftpiCountryFlagsTest/Mapper</directory>
        </testsuite>
        <testsuite name="Controllers">
            <directory>./ShiftpiCountryFlagsTest/Controller</directory>
        </testsuite>
    </testsuites>
</phpunit>