<?php
return array(
    'countryflags' => array(
        'mapper' => 'ShiftpiCountryFlags\Mapper\Filename',
        // Specifies the path to the image files. By default the fíles under data/flags are used.
        // 'datapath' => __DIR__ . '/../../vendor/shiftpi/country-flags/data/flags',
    ),
);